{
  "root": true,
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react"
  ],
  "env": {
    "es6": true,
    "browser": true,
  },
  "rules": {
    "linebreak-style": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": "off",
    "indent": ["error", 4],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
  }
}
